<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023386218038-58dsm3le6pchhuannvn656aggdbtvmgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023386218038-58dsm3le6pchhuannvn656aggdbtvmgb</string>
	<key>API_KEY</key>
	<string>AIzaSyCDIVAHvze1SvLifqCgYVXwittGrM4N00g</string>
	<key>GCM_SENDER_ID</key>
	<string>1023386218038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDoFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>to-do-flutter-7d5cb</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-flutter-7d5cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023386218038:ios:35db8eb5643ab227e23297</string>
</dict>
</plist>